.card-title,
.card-text {
  overflow: hidden;
  /* o "scroll" para agregar barras de desplazamiento */
  white-space: nowrap;
  /* Evita que el texto se ajuste automáticamente al ancho del div */
  text-overflow: ellipsis;
  /* Agrega puntos suspensivos al final del texto que se desborda */
}

.text-justify {
  text-align: justify;
}

.nav-active {
  font-weight: bold;
}

/* circle-available-books */

.circle-book {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

.available-book {
  background-color: green;
}

.not-available-book {
  background-color: red;
}
