.card-title,
.card-text {
  overflow: hidden; /* o "scroll" para agregar barras de desplazamiento */
  white-space: nowrap; /* Evita que el texto se ajuste automáticamente al ancho del div */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto que se desborda */
}
